* {
   padding: 0;
   margin: 0;
   font-size: 15px;
}

.game {
   display: grid;
   grid-template-rows: 30vh 70vh;
}

.all-numbers {
   display: grid;
   grid-template-columns: repeat(15, minmax(0, 1fr));
}

.small-number {
   text-align: center;
   box-sizing: margin-box;
   height: 6vw;
   width: 6vw;
   margin: .2rem auto;
   border-radius: 50%;
   color: #fff;
   font-weight: bold;
   font-family: cursive;
   font-size: 1.2rem;
   background-image: linear-gradient(green, lightgreen);
   display: inline-flex;
   justify-content: center;
   align-items: center;
}