* {
   padding: 0;
   margin: 0;
   font-size: 15px;
}

.game {
   display: grid;
   grid-template-rows: 30vh 70vh;
}

.top {
   display: grid;
   grid-template-columns: auto 400px;
}

.called-numbers-parent {
   height: 100%;
   overflow-x: hidden;
   overflow-y: hidden;
   white-space: nowrap;
   display: flex;
   align-items: center;
}

.called-numbers div:nth-last-child(1) {
   transform: scale(1.5);
   margin: 3rem;
}

.called-numbers div:nth-last-child(2) {
   transform: scale(1.25);
   margin: 2rem;
}

.all-numbers {
   display: grid;
   grid-template-columns: repeat(15, minmax(0, 1fr));
}

.number {
   text-align: center;
   box-sizing: margin-box;
   margin: .2rem auto;
   border-radius: 50%;
   color: #fff;
   /* font-weight: bold; */
   /* font-family: cursive; */
   font-family: "Recursive", sans-serif;
   font-style: normal;
   font-variation-settings: "CASL" 0.75, "wght" 600;
   font-weight: 600;
   /* background-image: linear-gradient(green, lightgreen); */
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-style: solid;
   border-width: 3px;
   border-color: #1d1008;
}

.c-r {
   background-color: #ff5656;
}

.c-b {
   background-color: #5656ff;
}

.c-w {
   background-color: #eeeeee;
   color: #1d1008;
}

@font-face {
   font-family: 'Recursive';
   font-style: normal;
   font-weight: 400;
   src: url(https://fonts.gstatic.com/s/recursive/v38/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadCCk317tQ0.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.small-number {
   height: 6vw;
   width: 6vw;
   font-size: 1.2rem;
}

.large-number {
   height: 10rem;
   width: 10rem;
   font-size: 3rem;
   margin-left: 0.5rem;
}

.pattern {
   width: 400px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 1fr);
   margin-left: 1rem;
   margin-bottom: 1rem;
}

.pattern-square {
   height: 100%;
   width: 100%;
   background-color: red;
   border: 1px solid black;
}

.square-b {
   background-color: black;
}

.square-w {
   background-color: white;
}